* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #78F0AC;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-family: 'Alegreya', serif;
}

a {
    text-decoration: none;
}

figure {
    width: 100%;
    height: 600px;
    position: relative;
    bottom: 500px;
    text-align: center;
    color: #A33A31;
}

figure > img {
    border: 10px solid #A33A31;
}

figure > h2 {
    font-size: 3rem;
}

figure > a {
    font-size: 1.5rem;
    color:#A33A31;
}

a:hover {
    opacity: 0.5;
}
/* header styleing */
.header-links{
    text-align: right;
    margin: 100px 200px 0px 0px;
}

.header-links li {
    list-style: none;
    display: inline;
    margin: 0 20px 0;
}

.header-links li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

#headshot {
    text-align: center;
    margin-top: 40px;
}

#headshot img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: #41A36C;
}

.triangle {
    height: 0;
    width: 0;
    margin: 0 auto 0 auto;
    border-left: 800px solid transparent;
    border-right: 800px solid transparent;
    border-bottom: 1000px solid #41A36C;
}

.about {
    position: relative;
    bottom: 600px;
    background-color: transparent;

}

.about-box {
    margin-left: 500px;
    margin-right: 500px;
    color: #A33A31;
}

.about-box p {
    font-size: 1.5rem;
}

.about div h2 {
    text-align: center;
    font-size: 2rem;
}

.applications {
    position: relative;
    bottom: 300px;
}

.technologies {
    font-size: 6rem;
    position: relative;
    bottom: 560px;
    text-align: center;

}

.technologies span {
    margin: 0 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #A33A31;
    padding: 10px;
    position: relative;
    bottom: 420px;
  }

.grid-item {
    background-color: #F08178;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 16px;
    text-align: center;
    color: black;
    
}

.grid-item img {
    width: 200px;
    height: 200px;
}

.contact-info {
    color: #A33A31;
    text-align: center;
    position: relative;
    bottom: 300px;
    font-size: 2rem;
}

.contact-info i {
    font-size: 4rem;
    color: #A33A31;
}

.social-media-icons {
    font-size: 2rem;
}

.social-media-icons i {
    color: #A33A31;
}

footer {
    position: relative;
    bottom: 200px;
    text-align: center;
}

#copyright {
    color: #A33A31;
}

/* responsive compenents */

@media screen and (max-width: 1600px) {
    
    header.header-links {
        text-align: center;
        margin: 100px 0 0 0;
    }

    header.header-links li {
        list-style: none;
        display: inline;
        margin: 0 10px 0;
    }
    
    .triangle {
        height: 600px;
        width: 100vw;
        background-color: #41A36C;
        margin: 0 auto 0 auto;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .about {
        position: relative;
        bottom: 560px;
        background-color: transparent;
    
    }

    .about-box {
        margin-left: 40px;
        margin-right: 40px;
        color: #A33A31;
    }

    .technologies {
        font-size: 6em;
        position: relative;
        bottom: 510px;
        text-align: center;
        background-color: #78F0AC;
    
    }

}

@media screen and (max-width: 784px) {
    .grid-container {
        display: grid;
        grid-template-columns: none;
        background-color: #A33A31;
        padding: 20px;
        position: relative;
        bottom: 515px;
      }

      .grid-item {
        background-color: #F08178;
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 16px;
        text-align: center;
        color: black;
        
    }
}